{% extends "base.html.twig" %}
{% block body %}
<div class="row header">
  <div class="col">
    <div class="header-brand">
      <a href="/">
        <img src="{{ asset('images/logo-circle.png') }}" alt="Logo" />
      </a>
      <h1>
        <a href="https://reddit.com/r/ScientificNutrition" target="_blank">
          /r/ScientificNutrition
        </a>
      </h1>
    </div>
  </div>
</div>

<div class="row gutter-bottom gutter-top">
  <div class="col col-xl-6 offset-xl-3">
    {{ form_start(form) }}
    {{ form_row(form.term) }}
    {{ form_row(form.author) }}
    {{ form_row(form.flairs) }}
    {{ form_row(form.domain) }}
    {{ form_row(form.startDate) }}
    {{ form_row(form.endDate) }}
    {{ form_row(form.type) }}

    <button type="submit" class="btn btn-primary">
      Search
    </button>
    {{ form_end(form) }}
  </div>
</div>
{% endblock %}
