{% extends "base.html.twig" %}
{% block body %}
  <div class="row header">
    <div class="col">
      <div class="header-brand">
        <a href="/">
          <img src="{{ asset('images/logo-circle.png') }}" alt="Logo" />
        </a>
        <h1>
          <a href="https://reddit.com/r/ScientificNutrition" target="_blank">
            /r/ScientificNutrition
          </a>
        </h1>
      </div>
      <div class="search-form">
        <form method="get">
          <div class="form-group d-flex">
            <label for="term-input" class="sr-only">
              Search
            </label>
            <input
              id="term-input"
              name="term"
              class="form-control"
              value="{{ term }}"
              placeholder="Search terms..."
            />
            <label for="type-input" class="sr-only">
              Type
            </label>
            <select name="type" id="type-input" class="form-control" style="width: 200px;">
              <option value="s">Submissions</option>
              <option value="c">Comments</option>
              <option value="sc">Submissions and Comments</option>
            </select>
            <button type="submit" class="btn btn-primary">
              Search
            </button>
          </div>
        </form>
        <small class="search-form-meta">
          <a href="{{ path('advanced') }}">
            Advanced Search
          </a>
          {% if query %}
            &nbsp;[<a href="{{ path('advanced') }}?a=1{{ query }}">Edit</a>]
          {% endif %}
          {% if term %}
            &nbsp;&nbsp;
            <a href="https://www.ncbi.nlm.nih.gov/pubmed/?term={{ term|url_encode }}">
              PubMed search
            </a>
            <div class="search-results-count text-right">
              {{ total|number_format }} results found. Showing page {{ page }} of {{ pages }}.
            </div>
          {% else %}
            <div class="search-results-count text-right">
              Showing page {{ page }} of {{ pages }}.
            </div>
          {% endif %}
        </small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-no-padding">
      {% if term and results|length == 0 %}
        <p class="text-center">
          No results match your search terms.
        </p>
      {% else %}
        <ul class="search-results">
          {% for result in results %}
            {% if result.parent is defined %}
              {% include "home/_blocks/comment.html.twig" %}
            {% else %}
              {% include "home/_blocks/submission.html.twig" %}
            {% endif %}
          {% endfor %}
        </ul>

        {% spaceless %}
          {% if pages > 1 %}

            {# Number of page around current page+1 #}
            {% set nearbyPagesLimit = 4 %}

            <div>
              <ul class="pagination justify-content-center">
                {% if page != 1 %}
                  <li class="page-item">
                    <a class="page-link" href="{{ path('home', { 'page': (page - 1) }) }}{{ query|raw }}">Prev</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <span class="page-link">Prev</span>
                  </li>
                {% endif %}
                {% for i in 1..pages %}
                  {% if 0 == (page - nearbyPagesLimit) - loop.index %} {# dot before #}
                    <li class="page-item disabled">&nbsp;...&nbsp;</li>
                  {% elseif 0 == (page + nearbyPagesLimit) - loop.index %} {# dot after #}
                    <li class="page-item disabled">&nbsp;...&nbsp;</li>
                  {% elseif 0 < (page - nearbyPagesLimit) - loop.index %} {# hide all before #}
                  {% elseif 0 > (page + nearbyPagesLimit) - loop.index %} {# hide all after #}
                  {% else %}
                    <li {% if page == loop.index  %} class="page-item active"{% endif %}>
                      <a class="page-link" href="{{ path('home', { 'page': loop.index }) }}{{ query|raw }}">{{ loop.index }}</a>
                    </li>
                  {% endif %}
                {% endfor %}
                {% if page != pages %}
                  <li class="page-item">
                    <a class="page-link" href="{{ path('home', { 'page': (page + 1) }) }}{{ query|raw }}">Next</a>
                  </li>
                {% else %}
                  <li class="page-item disabled">
                    <span class="page-link">Next</span>
                  </li>
                {% endif %}
              </ul>
            </div>
          {% endif %}
        {% endspaceless %}
      {% endif %}
    </div>
  </div>
{% endblock %}
